<div class="unlock-form">
  <%= simple_form_for :user, url: send_unlock_path do |f| %>
    <%= f.input :email, required: true, placeholder: 'johndoe@example.com', input_html: { class: 'u-full-width' } %>

    <%= f.submit 'Send activation instructions', class: 'button-primary u-full-width' %>

    <ul class="unstyled">
      <li>
        <%= link_to 'Sign in with an existent user account', sign_in_path %>
      </li>
      <li>
        <%= link_to 'Sign up with a new user account', sign_up_path %>
      </li>
    </ul>
  <% end %>
</div>
