<!DOCTYPE html>
<html>
<head>
  <title>Morpho</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'morpho/application', media: 'all' %>
  <%= javascript_include_tag 'morpho/application' %>
</head>
<body>
  <div class="container">
    <%= render_flash_messages %>
    <%= yield %>
  </div>

</body>
</html>
