<div class="sign-up-form">
  <%= simple_form_for user, url: change_password_path(token: params[:token]), method: :put do |f| %>
    <%= f.input :password, required: true, placeholder: '************', input_html: { class: 'u-full-width' } %>

    <%= f.input :password_confirmation, required: true, placeholder: '************', input_html: { class: 'u-full-width' } %>

    <%= f.submit 'Set new password', class: 'button-primary u-full-width' %>

    <ul class="unstyled">
      <li>
        <%= link_to 'Sign in with an existent user account', sign_in_path %>
      </li>
    </ul>
  <% end %>
</div>
