<div class="">
  <%= simple_form_for :user, url: send_reset_password_path do |f| %>
    <%= f.input :email, required: true, placeholder: 'johndoe@example.com', input_html: { class: '' } %>

    <%= f.submit t('morpho.labels.passwords.send_instructions'), class: 'button-primary ' %>

    <ul class="">
      <li>
        <%= link_to t('morpho.labels.passwords.sign_in'), sign_in_path %>
      </li>
      <li>
        <%= link_to t('morpho.labels.passwords.sign_up'), sign_up_path %>
      </li>
    </ul>
  <% end %>
</div>
