<div class="">
  <%= simple_form_for user, url: sign_up_path do |f| %>
    <%= f.input :email, required: true, placeholder: 'johndoe@example.com', input_html: { class: '' } %>

    <%= f.input :password, required: true, placeholder: '************', input_html: { class: '' } %>

    <%= f.input :password_confirmation, required: true, placeholder: '************', input_html: { class: '' } %>

    <%= f.submit t('morpho.labels.users.sign_up'), class: '' %>

    <ul class="">
      <li>
        <%= link_to t('morpho.labels.users.sign_in'), sign_in_path %>
      </li>
      <li>
        <%= link_to t('morpho.labels.users.activation'), new_activation_path %>
      </li>
    </ul>
  <% end %>
</div>
